<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>  
  <appSettings>
    <add key="ServerFlag" value="FALSE" />
    <add key="ServerName" value="PC201603171205\SQLEXPRESS" />
    <add key="DataBase" value="FORMPRODUCT" />
    <add key="User" value="sa" />
    <add key="Password" value="roky123456" />
    <add key="CruisedSwitch" value="false" />
    <add key="RepairSwitch" value="false" />
    <add key="PushSwitch" value="true" />
    <add key="BackSwitch" value="true" />
    <add key="LCM_P" value="false"/>
    <add key="LCM_F" value="false"/>
    <add key="LCM_R" value="false"/>
    <add key="LCM_L" value="false"/>
    <add key="LCM_RD" value="false"/>
    <add key="ANT" value="false"/>   
    <add key="LCM_CLK" value="true"/>
    <add key="LCM_CS" value="true"/>
    <add key="LCM_DO" value="true"/>
    <add key="7xx_Pin1" value="true"/>
    <add key="7xx_pin2" value="true"/>
    <add key="7xx_pin3" value="true"/>
    <add key="7xx_pin4" value="true"/>
    <add key="7xx_pin5" value="true"/>
    <add key="7xx_pin6" value="true"/>
    <add key="7xx_pin7" value="false"/>
    <add key="7xx_pin8" value="true"/>
    <add key="7xx_pin9" value="true"/>
    <add key="7xx_pin10" value="true"/>
    <add key="7xx_pin11" value="true"/>
    <add key="7xx_pin12" value="true"/>
    <add key="7xx_pin13" value="true"/>
    <add key="7xx_pin14" value="true"/>
    <add key="7xx_pin15" value="true"/>
    <add key="7xx_pin16" value="true"/>
    <add key="7xx_pin17" value="true"/>
    <add key="7xx_pin18" value="true"/>
    <add key="7xx_pin19" value="true"/>
    <add key="7xx_pin20" value="true"/>
    <add key="7xx_pin21" value="true"/>
    <add key="7xx_pin22" value="false"/>
    <add key="7xx_pin23" value="true"/>
    <add key="7xx_pin24" value="true"/>
    <add key="7xx_pin25" value="true"/>
    <add key="7xx_pin26" value="true"/>
    <add key="7xx_pin27" value="true"/>
    <add key="7xx_pin28" value="true"/>
    <add key="7xx_BUZZER" value="false"/>
    <add key="7xx_SADDLE" value="true"/>
    <add key="DefaultSN" value="B123456789" />
    <add key="DefaultBT" value="002715081234" />
    <add key="DefaultBLE" value="c02715081234" />
    <add key="DefaultKeyt" value="ndc982bwn291nu8wa3zjy58w" />
    <add key="Mode_Index" value="0" />
    <!--要绑定的钥匙数量-->
    <add key="KeysNumber" value="1" />
    <add key="TryCnts" value="3"/>
    <!--测试类型，FALSE代表不测试6个脚，TRUE代表全部都测试-->
    <add key="TestType" value="FALSE"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web> 
</configuration>