<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerFlag" value="TRUE"/>
    <add key="ServerName" value="PC201603171205\SQLEXPRESS"/>
    <add key="DataBase" value="FORMPRODUCT"/>
    <add key="User" value="sa"/>
    <add key="Password" value="roky123456"/>
    <add key="CruisedSwitch" value="false"/>
    <add key="RepairSwitch" value="false"/>
    <add key="PushSwitch" value="false"/>
    <add key="BackSwitch" value="false"/>
    <add key="DefaultSN" value="B123456789"/>
    <add key="DefaultBT" value="002715081234"/>
    <add key="DefaultBLE" value="c02715081234"/>
    <add key="DefaultKeyt" value="ndc982bwn291nu8wa3zjy58w"/>
    <add key="Mode_Index" value="0"/>
    <add key="KeysNumber" value="2"/>
  </appSettings>
</configuration>