<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServerFlag" value="FALSE" />
    <add key="ServerName" value="PC201603171205\SQLEXPRESS" />
    <add key="DataBase" value="FORMPRODUCT" />
    <add key="User" value="sa" />
    <add key="Password" value="roky123456" />
    <add key="CruisedSwitch" value="false" />
    <add key="RepairSwitch" value="false" />
    <add key="PushSwitch" value="true" />
    <add key="BackSwitch" value="true" />
    <add key="LCM_P" value="false"/>
    <add key="LCM_F" value="false"/>
    <add key="LCM_R" value="false"/>
    <add key="LCM_L" value="false"/>
    <add key="LCM_RD" value="false"/>
    <add key="ANT" value="false"/>   
    <add key="LCM_CLK" value="true"/>
    <add key="LCM_CS" value="true"/>
    <add key="LCM_DO" value="true"/>   
    <add key="DefaultSN" value="B9123456789" />
    <add key="DefaultBT" value="002715081234" />
    <add key="DefaultBLE" value="c02715081234" />
    <add key="DefaultKeyt" value="ndc982bwn291nu8wa3zjy58w" />
    <add key="Mode_Index" value="0" />
    <add key="KeysNumber" value="2" />
    <add key="TryCnts" value="3"/>
    <!--测试类型，FALSE代表不测试6个脚，TRUE代表全部都测试-->
    <add key="TestType" value="FALSE"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>